html, body {
  background-color: #444;
  color: #575757;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a, a:link, a:visited {
  color: #708090;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #222;
  text-decoration: underline;
}

ul.inline-list {
  margin: 0;
  padding: 0;
}
ul.inline-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background: -moz-linear-gradient(top, #f7f7f7 0%, #f3f3f3 50%, #f7f7f7 100%);
  border: 1px solid #c0d0e0;
  box-shadow: 1px 1px 1px 1px #f3f3f3;
  border-radius: 2px;
  color: #708090;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 93%;
  overflow: visible;
  padding: 3px 9px;
  text-align: center;
  text-shadow: 1px 1px 3px #ddd;
}
button::-moz-focus-inner {
  border: 0;
}
button:enabled:hover {
  border: 1px solid #a0b0c0;
  box-shadow: 1px 1px 1px 1px #f9f9f9;
  color: #506070;
  text-shadow: 1px 1px 3px #ccc;
}

input {
  -moz-transition: opacity 1s ease 0s;
  opacity: 0.7;
}
input:focus {
  opacity: 1.0;
}

input[type=text], input[type=password] {
  background: -moz-linear-gradient(top, #fbfbfb 0%, #f7f7f7 50%, #fbfbfb 100%);
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px #eee;
  font-size: 15px;
  padding: 7px;
}

.top-bar {
  background-color: #f5f3f0;
  border-radius: 0 0 2px 2px;
  min-height: 46px;
}
.top-bar ul {
  float: right;
}
.top-bar li {
  float: left;
}

#montage h1 {
  color: #f5f3f0;
  font-family: FFFTusj;
  font-size: 200px;
}

#fixed-montage {
  left: 0;
  position: fixed;
  text-align: right;
  top: 0;
  width: 308px;
}
#fixed-montage h1 {
  color: #f5f3f0;
  font: 200px FFFTusj;
}

#page-container {
  left: 351px;
  max-width: 789px;
  min-width: 404px;
  position: absolute;
  top: 0;
  width: 100%;
}

.page-container {
  padding: 0 20px;
}
.r {
  margin: 0 auto;
  max-width: 1140px;
  min-width: 755px;
  overflow: hidden;
  width: 100%;
}
.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11 {
  float: left;
  margin-right: 3.8%;
  min-height: 1px;
}
.r .c1 {
  width: 4.85%;
}
.r .c2 {
  width: 13.45%;
}
.r .c3 {
  width: 22.05%;
}
.r .c4 {
  width: 30.75%;
}
.r .c5 {
  width: 39.45%;
}
.r .c6 {
  width: 48%;
}
.r .c7 {
  width: 56.75%;
}
.r .c8 {
  width: 65.4%;
}
.r .c9 {
  width: 74.05%;
}
.r .c10 {
  width: 82.7%;
}
.r .c11 {
  width: 91.35%;
}
.r .c12 {
  float: left;
  width: 100%;
}
.lc {
  margin-right: 0px;
}
img {
  height: auto;
  max-width: 100%;
}

.modal {
  display: none;
  width: 400px;
}
.modal-header h1 {
  color: #fff;
  font: 40px FFFTusj;
}
.modal-container {
  background: #f5f3f0;
  border-radius: 3px;
  position: relative;
}

.modal-content {
  padding: 8px 16px;
}
.modal-footer {
  display: none;
}

/*
.modal {
  box-shadow: 0 0 5px 1px #d9d9d9;
  display: none;
  width: 320px;
}
.modal-container {
  background: #fff;
  border: 1px solid #cbcbcb;
  border-radius: 2px;
  position: relative;
}
.modal-header {
  background: -moz-linear-gradient(top, #f7f7f7 0%, #f3f3f3 50%, #f7f7f7 100%);
  border-bottom: 1px solid #e3e3e3;
  padding: 8px 16px;
}
.modal-header h1 {
  color: #708090;
  text-shadow: 1px 1px 3px #ddd;
}
.modal-content {
  padding: 8px 16px;
}
.modal-footer {
  background: #fafafa;
  border-top: 1px solid #e3e3e3;
  padding: 8px 16px;
}  
*/

