html, body {
  background-color: #f5f5f5;
  color: #575757;
  font: 13px/1.231 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a, a:link, a:visited {
  color: #708090;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #222;
  text-decoration: underline;
}
a:focus {
  outline: none;
}

ul.inline-list, ul.inline-list li {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}