#side-container {
  background: url('/static/img/background.jpg') repeat-y top left;
  box-shadow: 1px 0 1px 1px #444;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 351px;
}
#watermark {
  color: #494949;
  font: 460px FFFTusj;
  left: -114px;
  letter-spacing: -4px;
  overflow: hidden;
  position: fixed;
  top: -180px;
  width: 466px;
  -moz-user-select: none;
}
#site-title {
  background-color: #efedea;
  border-right: 1px dotted #ccc;
  left: 0;
  padding: 11px 0 10px;
  position: fixed;
  text-align: center;
  top: 40px;
  width: 353px;
  z-index: 1;
}
#site-title h1 {
  font: 30px/28px Palatino, serif;
  letter-spacing: -1px;
  text-shadow: 1px 1px 1px #ddd;
}
#site-title h2 {
  color: #aaa;
  font: 14px Palatino, serif;
  text-shadow: 1px 1px 1px #e9e9e9;
}

#page-container {
  left: 391px;
  max-width: 749px;
  min-width: 364px;
  padding-top: 128px;
  position: absolute;
  top: 0;
  width: 100%;
}
#account-actions {
  font-size: 87%;
  position: absolute;
  right: 0;
  top: 18px;
}
#title-bar {
  background: #efedea;
  border-color: #e5e5e5 #ccc;
  border-style: dotted;
  border-width: 1px;
  height: 67px;
  left: 0;
  position: absolute;
  top: 39px;
  width: 100%;
}
#title-bar h1 {
  font: 30px/28px Palatino, serif;
  left: 14px;
  letter-spacing: -1px;
  position: relative;
  text-shadow: 1px 1px 1px #ddd;
  top: 11px;
}
  

#modal-login {
  width: 300px;
}