button {
  background: #eaeaea -moz-linear-gradient(top, #eaeaea 0%, #e3e3e3 50%, #eaeaea 100%);
  border: 1px solid #888;
  box-shadow: 1px 1px 1px 0 #dadada;
  border-radius: 3px;
  color: #575757;
  font-size: 93%;
  padding: 4px 10px;
  text-align: center;
  text-shadow: 1px 1px 1px #ccc;
}
button::-moz-focus-inner {
  border: 0;
}
button:enabled:hover {
  background: #c3cdd7 -moz-linear-gradient(top, #cfd9e4 0%, #c3cdd7 50%, #cfd9e4 100%);
  border: 1px solid #444;
  color: #373737;
  text-shadow: 1px 1px 1px #aaa;
}
button img {
  margin-right: 10px;
  position: relative;
  top: 2px;
}

input[type=text], input[type=password], input.date {
  background: #f2f0ed;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px #efedea;
  color: #373737;
  font-size: 131%;
  padding: 3px 6px;
}
input[type=text]:enabled:hover, input[type=text]:enabled:focus,
input[type=password]:enabled:hover, input[type=password]:enabled:focus,
input.date:enabled:hover, input.date:enabled:focus {
  border: 1px solid #666;
}

label.detached_checkbox {
  padding-left: 1px;
  vertical-align: top;
}

.field.invalid input[type=text], .field.invalid input[type=password],
.field.invalid input.date {
  border: 1px solid #bf5f65;
}

.form-error {
  background: url('/static/img/icon-sprite.png') no-repeat left 1px;
  color: #bf5f65;
  font-size: 77%;
  margin: 4px 0 0 0;
  padding-left: 14px;
}
.field-error {
  background: url('/static/img/icon-sprite.png') no-repeat left 1px;
  color: #bf5f65;
  font-size: 77%;
  margin: 4px 0 0 2px;
  padding-left: 14px;
}
.field-action {
  background: url('/static/img/icon-sprite.png') no-repeat left -59px;
  font-size: 77%;
  margin: 4px 0 0 2px;
  padding-left: 14px;
}
.field-help {
  background: url('/static/img/icon-sprite.png') no-repeat left -19px;
  color: #999;
  font-size: 77%;
  margin: 4px 0 0 2px;
  padding-left: 14px;
}

/*
input {
  -moz-transition: opacity 1s ease 0s;
  opacity: 0.7;
}
input:focus {
  opacity: 1.0;
}
*/

