.modal {
  display: none;
  width: 400px;
}
.modal-container {
  background: #f5f3f0;
  border: 1px solid #888;
  border-radius: 4px;
  box-shadow: 0 0 6px 1px #d9d9d9;
  position: relative;
}
.modal-header {
  background: #efedea;
  border-bottom: 1px solid #aaa;
  border-radius: 4px 4px 0 0;
  padding: 8px 16px;
}
.modal-header h1 {
  font: 22px Palatino, serif;
  letter-spacing: -1px;
  text-shadow: 1px 1px 1px #ddd;
}
.modal-close-button {
  background: url('/static/img/icon-sprite.png') no-repeat right -80px;
  cursor: pointer;
  height: 10px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 10px;
}
.modal-close-button:hover {
  background: url('/static/img/icon-sprite.png') no-repeat right -100px;
}
.modal-content {
  padding: 8px 16px;
}

.modal .flash-message-receiver {
  border-bottom: 1px dotted #aaa;
  padding: 10px 16px;
}
.modal .flash-message-receiver li {
  font-size: 77%;
  margin-bottom: 2px;
}
.modal .flash-message-receiver li:last-child {
  margin-bottom: 0;
}
.modal .flash-message-receiver .error {
  background: url('/static/img/icon-sprite.png') no-repeat left 1px;
  color: #bf5f65;
  padding-left: 14px;
}

.modal input[type=text], .modal input[type=password] {
  width: 40px;
}
.modal label {
  font-size: 87%;
}
.modal .field {
  border-bottom: 1px dotted #aaa;
  padding: 10px 16px;
}
.modal .field-label-container {
  float: left;
  padding-top: 7px;
  width: 80px;
}
.modal .field-widget-container {
  float: left;
}
.modal .form-buttons {
  padding: 8px 16px;
}
.modal .form-buttons button {
  float: right;
}
.modal .form-buttons .detached_checkbox_field {
  position: relative;
  top: 5px;
}