{% macro modal(id, title, classes='') %}
<div id="{{ id }}" class="modal {{ classes }} flash-message-container">
  <div class="modal-container">
    <div class="modal-header">
      <h1>{{ title }}</h1>
      <div class="modal-close-button"></div>
    </div>
    <div class="modal-messages">
      <ul class="flash-message-receiver nofading"></ul>
    </div>
    {{ caller() }}
  </div>
</div>
{% endmacro %}

{%- macro _field_attrs(field, metadata, include_value=True) -%}
id="{{ field.auto_id }}" name="{{ field.html_name }}" 
{% if include_value and field.initial_value and field.initial_value.value %}value="{{ field.initial_value.value }}"{% endif %}
data-metadata='{{ field.metadata|json }}'
{%- endmacro -%}

{% macro dateinput(field, metadata) %}
<input id="{{ field.auto_id }}" type="date" name="{{ field.html_name }}"
  {% if field.initial_value and field.initial_value.value %}value="{{ field.initial_value.value }}"{% endif %}/>
<script type="text/javascript">
$(function() {
    $('#{{ field.auto_id }}').dateinput();
});
</script>
{% endmacro %}

{% macro textbox(field, metadata, type='text') %}
<input type="{{ type }}" {{ _field_attrs(field, metadata) }}/>
{% endmacro %}

{% macro _construct_field_widget(field) %}
{% set field_type = field.field|typename %}
{% set widget = field.field.widget|typename %}
{% set metadata = field.metadata.get('widget') or {} %}
{% if widget == 'Select' %}

{% elif widget == 'PasswordInput' %}
  {{ textbox(field, metadata, type='password') }}
{% elif widget == 'TextInput' %}
  {% if field_type == 'DecimalField' %}
  
  {% else %}
    {{ textbox(field, metadata) }}
  {% endif %}
{% elif widget == 'DateInput' or widget == 'DateTimeInput' %}
  {{ dateinput(field, metadata) }}
{% else %}
  {{ widget }}
{% endif %}
{% endmacro %}

{% macro formfield(form, field, classes='') %}
<div id="{{ field.auto_id }}-container" class="field {{ classes }} {{ 'required' if field.field.required }}">
  <div class="field-label-container">
    <label for="{{ field.auto_id }}">{{ field.metadata.label|d(field.label) }}:</label>
  </div>
  <div class="field-widget-container">
    {{ caller() }}
    <div class="field-errors"></div>
    {% if field.metadata.help %}
    <div class="field-help">{{ field.metadata.help }}</div>
    {% endif %}
  </div>
  <div class="clear"></div>
</div>
{% endmacro %}

{% macro _render_formfields(_form, _fields, exclude=None) %}
  {% for _field in _fields %}
    {% if not exclude or _field.name not in exclude %}
      {% if _field.is_hidden %}
        {{ _field.as_hidden() }}
      {% else %}
        {% call formfield(_form, _field) %}
          {{ _construct_field_widget(_field) }}
        {% endcall %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro formfields(_form, field_names=None, exclude=None) %}
  {% set _caller = caller %}
  {% if field_names %}
    {{ _render_formfields(_form, _form.enumerate_fields(field_names), exclude) }}
    {% if _caller %}
      {{ _caller() }}
    {% endif %}
  {% else %}
    {{ _render_formfields(_form, _form, exclude) }}
    {% if _caller %}
      {{ _caller() }}
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro form_buttons(primary_label='Save') %}
<div class="form-buttons">
  <button data-save-action="save" type="submit"><span>{{ primary_label }}</span></button>
  <div class="clear"></div>
</div>
{% endmacro %}

{% macro form(id, forms, action, classes='', buttons=True, primary_label='Save') %}
<form id="{{ id }}" action="{{ action }}" method="post" {% if classes %}class="{{ classes }}"{% endif %}>
  <div class="form-errors"></div>
  {% if forms %}
    {% for form in forms %}
      {{ formfields(form) }}
    {% endfor %}
  {% endif %}
  {% if caller %}
    {{ caller() }}
  {% endif %}
  {% if buttons %}
    {{ form_buttons(primary_label) }}
  {% endif %}
</form>
{% endmacro %}