<!DOCTYPE html>
<html>
<head>

  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <meta name="description" content=""/>
  
  <title>{% block title %}{{ page_title }}{% endblock %}</title>
  
  <script type="text/javascript">var require = {baseUrl: "/static/js"};</script>
  <script data-main="{{ js_module }}" src="/static/js/require-jquery.js"></script>

  {{ stylesheets('main') }}
  
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico"/>
  
 
</head>
<body>

  <div id="side-container">
    <h1 id="watermark">42</h1>
    <div id="site-title">
      <h1>The Austin 42 Club</h1>
      <h2>~ Established 2005 ~</h2>
    </div>
  </div>
  <div id="page-container">
    <div id="interaction-bar">
      <a id="login-action">Login</a>
      <a id="create-account-action">Create account</a>
    </div>
  
    {% block content %}{% endblock %}
  </div>


  {#
  <div id="fixed-montage">
    <h1 id="logo-austin">AUSTIN</h1>
    <h1 id="logo-42">42</h1>
    <h1 id="logo-club">CLUB</h1>
  </div>
  <div id="page-container">
    <div id="interaction-bar" class="top-bar">
      <ul id="account-actions" class="inline-list">
        {% if request.account %}
        <li><a id="logout-action" href="{{ url('account-logout') }}">Logout</a></li>
        {% else %}
        <li><a id="login-action">Login</a></li>
        <li><a id="create-account-action">Create account</a></li>
        {% endif %}
      </ul>
      testing
    </div>
    {% block content %}{% endblock %}
  </div>
  #}
  

</body>
</html>